<div class="row">
    <!-- project list -->
    <div class="col-12" *ngIf="iscurrentView === 'List'">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">
                        <strong>Project List </strong>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" (click)="iscurrentView = 'Form'">Add Projects</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-boarderd">
                    <thead>
                        <tr>
                            <th>
                                Project ID
                            </th>
                            <th>
                                Project Name
                            </th>
                            <th>
                                Client Name
                            </th>
                            <th>
                                start Date
                            </th>
                            <th>
                                Lead by Employee
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of projectDetails; let i = index">
                            <td>{{project.projectId}}</td>
                            <td>{{project.projectName}}</td>
                            <td>{{project.clientName}}</td>
                            <td>{{project.startDate}}</td>
                            <td>{{project.leadByEmployeeId}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- new project form -->
    <div class="col-12" *ngIf="iscurrentView !== 'List'">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">
                        <strong>New Project</strong>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" (click)="iscurrentView = 'List'">Show Projects</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form class="row g-3" [formGroup]="projectForm" (ngSubmit)="onSaveProject()">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Project Name</label>
                        <input type="text" formControlName="projectName" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Client Name</label>
                        <input type="text" formControlName="clientName" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Lead by Employee Id</label>
                        <select formControlName="leadByEmployeeId" id="inputState" class="form-select">
                            <option *ngFor="let data of projectData$ | async" [value]="data.employeeId">
                                {{data.employeeName}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="inputAddress" class="form-label">start Date</label>
                        <input type="date" formControlName="startDate" class="form-control" id="inputAddress"
                            placeholder="1234 Main St">
                    </div>
                    <div class="col-6">
                        <label for="inputAddress2" class="form-label">Contact Person</label>
                        <input type="text" formControlName="contactPerson" class="form-control" id="inputAddress2"
                            placeholder="James">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">Contact No</label>
                        <input type="text" formControlName="contactNo" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-6">
                        <label for="inputZip" class="form-label">Email Id</label>
                        <input type="email" formControlName="emailId" class="form-control" id="emailId">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>